# Virtual Environment
.venv/
ENV/
env/
.env

# VS Code Configuration
.vscode/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Operating System Files
.DS_Store
Thumbs.db
